/* resultater.css */

section h2 {
    text-align: center;
    margin: 20px 0;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

form label {
    margin-right: 10px;
    font-weight: bold;
}

form select, form button {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    background: #ecf0f1;
    color: #34495e;
}

.results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.result-item {
    background: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.result-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.result-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.result-content p {
    margin: 5px 0;
    color: #bdc3c7;
}
